* {
    margin: 0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}
header {
    background-color: black;;
    color:white;
    width:100%;
    
    
}
h1 {
    text-align: center;
}

.nav {
    
    color: antiquewhite;
    border-radius: 4px;
    margin:0.3%;
    padding: 0.3%;
    font-size: 1.5vw;
    inset-inline: left;

    

}

.nav li {
    background-color: gray;
    border-radius: 4px;
    display: inline;
    padding:5px;
    margin:3px;
   
}
a {
    color:antiquewhite;
    
}
#pictures {
    display: inline-flex;
    margin:5px;
}
.photo1 {
    
    padding:3px;
    margin:4px;
    margin-top: 30px;
    border: 1px,solid, rgb(30, 0, 0);
    border-radius: 4px;

}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(8, 4, 0);
    font-weight: bold;
}

.contenedor img {
   background-image: 100%;
}

.foot { 
    height: 48px;
    border:2px,rgb(6, 6, 6);
    background-color: orangered;
    border-radius: 4.2px;
    margin:0.3%;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0.3%;
    font-size: 2.2vw;
    
}

.foot ul {
    height: 48px;
}

.foot li {
    display:inline;
    color:black;
    align-content: last baseline;
    font-weight: bold;
    padding: 3px;
    text-align: center;
  

    

}

.foot a {
    padding:8px;
}

.foot a {
   
    text-decoration: none;
    font-weight: bold;

}

.foot a:hover {
    color:rgb(6, 9, 1);
    font-weight: bold;
}

.foot li,a, img {
    margin-bottom:2px;

}

.foot li a img {

    vertical-align: middle;

}